<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="DollarSaverConnectionString" connectionString="Data Source=CHARLIES-PC\SQLEXPRESS;Initial Catalog=DollarSaver;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="DollarSaver.Core.Properties.Settings.DollarSaverConnectionString"
          connectionString="Data Source=CHARLIES-PC\SQLEXPRESS;Initial Catalog=DollarSaver;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
